<form [formGroup]="userprofileForm" (ngSubmit)="onSubmit()">
  <label for="">
    First Name:
    <input type="text" formControlName="firstName" />
  </label>
  <label for="">
    Last Name:
    <input type="text" formControlName="lastName" />
  </label>

  <div formGroupName="address">
    <label for="">
      Address 1:
      <input type="text" formControlName="address1" />
    </label>
    <label for="">
      Address 2:
      <input type="text" formControlName="address2" />
    </label>
    <label for="">
      State:
      <input type="text" formControlName="state" />
    </label>
    <label for="">
      Zip Code:
      <input type="text" formControlName="zip" />
    </label>
  </div>

  <button type="submit" [disabled]="!userprofileForm.valid">Submit</button>
</form>

<hr />
<h3>Testing Purposes:</h3>
<div>
  {{ userprofileForm.value | json }}
</div>
